@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --fs-sm: 14px;
    --fs-1sm: 20px;
    --fs-2sm: 18px;
    --fs-md: 16px;
    --fs-lg: 28px;
    --fs-1lg: 42px;
    --orange: #F36A3E;
    --black: #000000;
    --white: #FFFFFF;
    --lightblack: #4C4847;
    --black2: #333333;
    --black3: #323232;
    --white2: #FFFEFE;
    --offwhite: #FAFAFA;
    --nav-bottomline: #CCCCCC;
    --black1: #0A0A0A;
    --offwhite2: #F9F9F9;
}

.color-black3 {
    color: var(--black3);
}

.bg-offwhite2 {
    background-color: #F9F9F9;
}

.color-black1 {
    color: var(--black1);
}

.color-offwhite {
    color: var(--offwhite);
}

.ff-rubik {
    font-family: 'Rubik', sans-serif;
}

.bg-white2 {
    background-color: var(--white2);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-1sm {
    font-size: var(--fs-1sm);
}

.fs-2sm {
    font-size: var(--fs-2sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-1lg {
    font-size: var(--fs-1lg);
}

.color-orange {
    color: var(--orange);
}

.bg-orange {
    background-color: var(--orange);
}

.color-black {
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}

.color-white1 {
    color: var(--white);
}

.bg-white1 {
    background-color: var(--white);
}

.color-lightblack {
    color: var(--lightblack);
}

.color-black2 {
    color: var(--black2);
}
@media (min-width:576px) {
    :root {
        --fs-sm: 16px;
        --fs-1sm: 20px;
        --fs-2sm: 22px;
        --fs-md: 24px;
        --fs-lg: 30px;
        --fs-1lg: 50px;}
    }
@media (min-width:1200px) {
    :root {
        --fs-sm: 16px;
        --fs-1sm: 20px;
        --fs-2sm: 22px;
        --fs-md: 24px;
        --fs-lg: 40px;
        --fs-1lg: 52px;}
}